/**
 * @file
 * Styles for the settings page.
 */

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
}
  html, button, input, select, textarea {
    font-family: sans-serif;
  }
body {
  background: #f1f1f1;
  font-family: Roboto, DejaVu Sans, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.45;
  margin: 0;
}

[draggable] {
  cursor: move;
}
  [draggable]:hover {
    background: #fff url('grippy_large.png') 2px center scroll no-repeat;
  }

/*-Link-*/
a {
  color: rgb(17, 85, 204);
}

/*-List-*/
ul, ol {
  margin-left: 0;
  padding: 0 0 0 40px;
}

/*-Heading-*/
h1 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  padding: 10px;
}
  @media all and (max-width: 440px) {
    h1 {
      font-size: 15px;
    }
  }
h2 {
  color: #666;
  font-size: .875rem;
  font-weight: 600;
  margin: 0;
  padding: 12px 0;
}
h3 {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin: 1em 0;
}

/*-Form-*/
form {
  margin: 0;
}
  fieldset {
    border: 1px solid #eee;
    margin: .5em 0;
    padding: 0.35em 1em 0.75em;
    position: relative;
  }
    fieldset:hover {
      border-color: #ddd;
    }
    fieldset > div {
      display: flex;
    }
      @media all and (max-width: 480px) {
        fieldset > div {
          flex-wrap: wrap;
          justify-content: space-evenly;
        }
      }
      @media all and (max-width: 360px) {
        fieldset > div {
          justify-content: flex-start;
        }
      }
    legend {
      border: 0;
      padding: 0;
      white-space: normal;
      *margin-left: -7px;
    }
  button, input, option, select {
    font-size: 16px;
    line-height: normal;
  }
    button,
    .button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
      -webkit-appearance: none;
      background-color: rgb(58, 117, 215);
      border: 0 none;
      border-radius: 2px;
      box-shadow:
        0 2px 2px 0 rgba(0,0,0,0.14),
        0 1px 5px 0 rgba(0,0,0,0.12),
        0 3px 1px -2px rgba(0,0,0,0.2);
      cursor: pointer;
      color: #fff;
      display: inline-block;
      font-size: 13px;
      letter-spacing: .5px;
      margin: 5px 5px 5px 0;
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      transition: .2s ease-out;
    }
      button:hover,
      .button:hover,
      input[type="button"]:hover,
      input[type="reset"]:hover,
      input[type="submit"]:hover {
        background-color: #3367d6;
      }
    input[type="color"] {
      height: 1.2em;
    }
      input[type="color"]::-webkit-color-swatch-wrapper {
        padding: 0;
      }
    input[type="text"] {
      border: 0 none;
      font-family: 'Roboto', Arial, sans-serif;
      line-height: 1;
      padding: 0;
      vertical-align: sub;
      width: 100%;
    }
      input[type="text"]:focus {
        outline: 0 none;
      }
  label {
    background-image: linear-gradient(to top, #ccc, transparent 2px, transparent 100%);
    color: #666;
    display: block;
    margin: 0 20px 0 0;
    overflow: hidden;
    padding: 0;
    position: relative;
  }
    label:first-child {
      flex: auto;
    }
    label:before,
    label:after {
      background-color: #5264AE;
      bottom: 0;
      content: '';
      height: 2px;
      position: absolute;
      width: 0;
      transition: all .3s ease-in;
    }
    label:before {
      left: 50%;
    }
    label:after {
      right: 50%;
    }
    label:focus-within {
      color: #5264AE;
      font-weight: bold;
    }
    label:focus-within:before,
    label:focus-within:after {
      width: 50%;
    }
    label span {
      display: block;
    }
    @media all and (max-width: 480px) {
      label {
        margin-bottom: 12px;
      }
    }

/*-Other-*/
b, strong {
  font-weight: bold;
}
code {
  font-family: monospace;
}
details {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14);
  display: block;
  margin: 0;
  padding: 0;
}
    details:first-child > summary {
      padding: 16px 48px 12px 24px;
    }
  details:last-child {
    border-bottom: 0 none;
    margin-bottom: 16px;
  }
    details:last-child > summary {
      padding: 12px 48px 16px 24px;
    }
  details[open] {
    margin: 16px 0;
  }
    details[open]:first-child {
      margin-top: 0;
    }
  details > div {
    padding: 0 24px 12px;
    transition: all .3s ease-in;
  }
  summary {
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    padding: 12px 48px 12px 24px;
    position: relative;
  }
    summary::-webkit-details-marker {
      display: none;
    }
    summary:after {
      color: #666;
      content: '\2304';
      font-size: 30px;
      line-height: 1;
      position: absolute;
      right: 24px;
      top: 5px;
      transform: rotate(0deg);
      transition: all .3s ease-in;
    }
      details[open] > summary:after {
        top: 15px;
        transform: rotate(-180deg);
      }
    summary:hover {
      background-color: #f1f1f1;
    }
    summary:focus {
      border-bottom: 1px solid #ddd;
      outline: 0 none;
    }

embed, img, object {
    height: auto;
    max-width: 100%;
  }
  img {
    border: 0;
  }

p {
  margin: 1em 0;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }


/*--Classes--*/
.box-shadow {
  border-radius: 2px;
  box-shadow:
    0 2px 2px 0 rgba(0,0,0,.14),
    0 3px 1px -2px rgba(0,0,0,.2),
    0 1px 5px 0 rgba(0,0,0,.12);
}
.card {
  background-color: #fff;
  padding: 16px 24px;
}
.container-bg {
  background-color: #f1f1f1;
}
.icon {
  display: inline-block;
  padding: 5px 16px 5px 10px;
  vertical-align: middle;
}
.over {
  border: 1px dashed #ccc;
}
.remove {
  background: #eee;
  border-radius: 0 0 0 2px;
  color: #000;
  cursor: pointer;
  display: none;
  height: 20px;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 20px;
}
  fieldset:hover .remove {
    display: block;
  }
  .remove:hover {
    background: #f00;
    color: #fff;
  }

/*--Structure--*/
.page{
  margin: 0;
}
  header {
    background-color: #3367d6;
    box-shadow: 2px 0 5px rgba(0,0,0,.5);
    color: #fff;
    left: 0;
    padding: 6px 20px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
  }
    header + section {
      margin-top: 72px;
    }
    header > h1 {
      display: inline-block;
    }
  section {
    margin: 16px auto;
    max-width: 680px;
  }
    @media all and (max-width: 720px) {
      section {
        margin: 16px 20px;
      }
    }